@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:url("fur.jpg");
	
}

@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.container{
	text-align: center;
	top: 200px;
	position:relative;
	filter: drop-shadow(7px 7px 10px #333);

}


#myButton{
	width: 500px;
}
 
imag{
	animation: float  3s infinite ;


}

#audio{
	 display: none;
}



@media only screen and (max-width: 1367px) {
	body{
		background:grey;
	}	

#audio{
	 display:flex;
}
	
#myButton{
	width: 600px;
	animation: float  3s infinite ;
}

.container{
	text-align: center;
	top: 500px;
	position:relative;
	filter: drop-shadow(7px 7px 10px #333);
	}
	
	#images{
	animation: float  3s infinite ;

}


}




/*
@media only screen and (max-width: 600px) {
	
	body {
		background: blue;
    background: url("fur.jpg");
	background-repeat: repeat-x, repeat-y; 
 

	}
}
	
#myButton{
	width: 500px;
}

	.container{
	text-align: center;
	top: 500px;
	position:relative;
	filter: drop-shadow(7px 7px 10px #333);

}
*/
	



